{{define "cpu_graph"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Consumo CPU</title>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>

  {{ template "navbarstyle" }}
</head>
<body>
  {{ template "navbar" }}
<canvas id="myChart"></canvas>
</body>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [{
      data: [],
      label: '% consumo CPU:',
      borderColor: 'rgb(255, 0, 0)',
      lineTension: 0,
    },
    {
      data: [],
      label: 'Utilizacion CPU',
      borderColor: 'rgb(0, 0, 255)',
      lineTension: 0,
    }]
  },
  options: {
        scales: {
            xAxes: [{
              type:'realtime',
                realtime: {
                    onRefresh: function(chart) {
                        // request data so that it can be received in a callback function
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/cpu_data');
                        xhr.onload = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {

                              /*chart.data.datasets[0].data.push({
                                x: Date.now(),
                                y: JSON.parse(xhr.responseText).x
                              });*/
                              chart.data.datasets[0].label='% utilizacion CPU: '+JSON.parse(xhr.responseText).y+'%';

                              chart.data.datasets[1].data.push({
                                x: Date.now(),
                                y: JSON.parse(xhr.responseText).x
                              });

                                chart.update({
                                    preservation: true
                                });
                            }
                        };
                        xhr.send();
                    }
                }
            }]
        }
    }
});
</script>
</html>
{{end}}
